@import url(./css/global.css);

.App { 
 min-width: 100vw; 
 min-height: 100vh; 
 background-color: var(--dark-0);
 display: flex; 
 flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--dark-0);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  color: var(--light-1);
  padding: 1em;
} 

.App-header h1 {
  font-size: calc(24px + 0.7vmin); 
  margin-bottom: -1em;
}

.App-header h6 {
  font-size: calc(10px + 0.5vmin); 
  font-weight: lighter;
} 

.cm-area {
  padding: 0em 1em 1em 1em; 
  border: 0px solid; 
  border-radius: 0.5em;
  background-color: var(--dark-1);
  animation: fadeInBottom 2s ease 0s 1 normal forwards;
}

.cm-area h6 {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(10px + 0.5vmin); 
  padding-top: 1em;
  margin: 0;
  color: var(--dark-3);
} 

.cm-area hr { 
  border: none;
  height: 1px; 
  background-color: var(--dark-2); /* Replace with your desired color */
}

.App-link {
  color: #61dafb;
}

@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
